.home.my.name {
    font-size: 5rem;
    
   
    
}

.home.my.job.title {
    font-size: 3rem;

    
}

.my.menu.list.for.route {
    margin-top: 13em;
    float: left;
    
}

.ui.right.aligned.container.home {
   float: left;
}