.home.my.name {
    margin-top: -50px;
    font-size: 5rem;
    font-family: 'Spartan', sans-serif;
    animation-name: nameAni;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    
}
@keyframes nameAni  {
 from{margin-top: -200px}
 to{margin-top: 100px}
}

.home.my:hover {
    cursor: pointer;
}

.home.my.job.title {
    font-size: 3rem;
    
}

.my.menu.list.for.route {
    margin-top: 13em;
    float: left;
    
}

.ui.right.aligned.container.home {
   float: left;
}

.dark-mode {
    background-color:#bec2cb;
    
  }

  .projects.carousel:hover {
     cursor: pointer;
  }

 


        body { 
            animation: fadeInAnimation ease 3s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards; 
        } 
        @keyframes fadeInAnimation { 
            0% { 
                opacity: 0; 
            } 
            100% { 
                opacity: 1; 
            } 
        } 



.indicating.scroll.down.icon {
      opacity: 0.5;
      animation-name: iconShow;
      animation-duration: 3s;
      animation-iteration-count: 1;
}

@keyframes iconShow {
    from{opacity: 0.5;}
    tp{opacity: 1;}
}